* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* CSS HEX */
    /* CSS HEX */
    --glaucous: #7580c9ff;
    --smoky-black: #191308ff;
    --marian-blue: #2e488fff;
    --marian-blu: rgb(122, 129, 147);
    --plum-web: #d196d2ff;
    --rich-black: #010217ff;
    --blue-ncs: rgb(75, 37, 189);
    --cerulean: #187795ff;
    --caribbean-current: #38686aff;
    --ash-gray: #a3b4a2ff;
    --dun: #cdc6aeff;
}

header {
    height: 70px;
    background-color: var(--cerulean);
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: white;
}

p {
    color: var(--cerulean);
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.siden {
    color: aqua;
    background-color: white;
    padding: 20px;
    margin-top: 10px;


}

.siden a {
    color: var(--cerulean);
}

h1 {
    margin: auto;
    padding: 30px;
    font-size: 80px;

}





.bcontainer {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 150px 250px 250px 250px 250px 250px 250px 250px 250px;
    gap: 30px;
    font-size: 43px;
    
}

.bcontainer img {
    height: 100%;
    margin: auto;
}

.bcontainer p {
    margin: 30px;
}

#bboks1 {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: rgb(143, 145, 181);
    text-align: center;
}

#bboks2 {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #010217ff;
    text-align: right;
}

#bboks3 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #010217ff;
}

#bboks4 {
    grid-column: 1/2;
    background-color: #010217ff;
    grid-row: 3/4;
}
#bboks5 {
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: #010217ff;
}
#bboks6 {
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: #010217ff;
    text-align: right;
}
#bboks7 {
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: #010217ff;
}
#bboks8 {
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: #010217ff;
}
#bboks9 {
    grid-column: 2/4;
    grid-row: 5/6;
    background-color: #010217ff;
}




.nett {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    justify-content: start;
    height: 75vh;

}


.tekst1 {
    grid-column: 1/2;
}

.bilde1 {
    grid-column: 3/4;
}

.rad {
    display: flex;
    width: initial;
    height:30vh;
}

.rad>img {
    border: solid var(--glaucous)20px;
    padding: 2%;
}




.url {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh;
}

#slide1 {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#slide2 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10%;
}

#slide2 div {
    border: 2px solid var(--cerulean);
    box-shadow: 7px 5px 0 var(--marian-blue);
    padding: 10%;
}

.url img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#slide3 {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10%;
}

#slide4 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#slide4>div {
    background-color: var(--caribbean-current);
}

#slide5 {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
