* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* CSS HEX */
    /* CSS HEX */
    --glaucous: #7580c9ff;
    --smoky-black: #191308ff;
    --marian-blue: #2e488fff;
    --marian-blu: rgb(122, 129, 147);
    --plum-web: #d196d2ff;
    --rich-black: #010217ff;
    --blue-ncs: rgb(75, 37, 189);
    --cerulean: #187795ff;
    --caribbean-current: #38686aff;
    --ash-gray: #a3b4a2ff;
    --dun: #cdc6aeff;
}

header {
    height: 70px;
    background-color: var(--cerulean);
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: white;
}

p {
    color: var(--cerulean);
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.siden {
    color: aqua;
    background-color: white;
    padding: 20px;
    margin-top: 10px;


}

.siden a {
    color: var(--cerulean);
}

h1 {
    margin: auto;
    padding: 30px;
    font-size: 80px;

}




.acontainer img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 5/2;
}

.acontainer {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 50px 150px 50px 250px 100px 250px 100px 250px;
}

.acontainer>div {
    border: 2px solid black;
    background-color: aliceblue;

}

#aboks1 {
    text-align: center;
    grid-column: 2/11;
    grid-row: 2/3;
    font-size: 80px;
}

#aboks2 {
    text-align: left;
    grid-column: 1/4;
    grid-row: 4/5;
    font-size: 40px;
}

#aboks3 {

    grid-column: 5/12;
    grid-row: 4/5;
    font-size: 40px;
}

#aboks4 {
    text-align: center;
    grid-column: 1/4;
    grid-row: 6/7;
    font-size: 80px;
}

#aboks5 {
    text-align: center;
    grid-column: 5/8;
    grid-row: 6/7;
    font-size: 80px;
}

#aboks6 {
    text-align: center;
    grid-column: 9/12;
    grid-row: 6/7;
    font-size: 80px;
}

#aboks7 {
    text-align: center;
    grid-column: 1/8;
    grid-row: 8/9;
    font-size: 80px;
}

#aboks8 {
    text-align: center;
    grid-column: 9/12;
    grid-row: 8/9;
    font-size: 80px;
}

#aboks9 {
    text-align: center;
    grid-column: 9/12;
    grid-row: 8/9;
    font-size: 80px;
}




.nett {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    justify-content: start;
    height: 75vh;

}


.tekst1 {
    grid-column: 1/2;
}

.bilde1 {
    grid-column: 3/4;
}

.rad {
    display: flex;
    width: initial;
    height:30vh;
}

.rad>img {
    border: solid var(--glaucous)20px;
    padding: 2%;
}




.url {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh;
}
