* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
:root {
    /* CSS HEX */
    /* CSS HEX */
    --glaucous: #7580c9ff;
    --smoky-black: #191308ff;
    --marian-blue: #2e488fff;
    --marian-blu: rgb(122, 129, 147);
    --plum-web: #d196d2ff;
    --rich-black: #010217ff;
    --blue-ncs: rgb(75, 37, 189);
    --cerulean: #187795ff;
    --caribbean-current: #38686aff;
    --ash-gray: #a3b4a2ff;
    --dun: #cdc6aeff;
}

header {
    height: 70px;
    background-color: var(--cerulean);
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: white;
}

p {
    color: var(--cerulean);
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.siden {
    color: aqua;
    background-color: white;
    padding: 20px;
    margin-top: 10px;


}

.siden a {
    color: var(--cerulean);
}

h1 {
    margin: auto;
    padding: 30px;
    font-size: 80px;

}





.bcontainer {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 150px 250px 250px 250px 250px 250px 250px 250px 250px;
    gap: 30px;
    font-size: 43px;
    
}

.bcontainer img {
    height: 100%;
    margin: auto;
}

.bcontainer p {
    margin: 30px;
}

#bboks1 {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: rgb(143, 145, 181);
    text-align: center;
}

#bboks2 {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #010217ff;
    text-align: right;
}

#bboks3 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #010217ff;
}

#bboks4 {
    grid-column: 1/2;
    background-color: #010217ff;
    grid-row: 3/4;
}
#bboks5 {
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: #010217ff;
}
#bboks6 {
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: #010217ff;
    text-align: right;
}
#bboks7 {
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: #010217ff;
}
#bboks8 {
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: #010217ff;
}
#bboks9 {
    grid-column: 2/4;
    grid-row: 5/6;
    background-color: #010217ff;
}




.nett {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    justify-content: start;
    height: 70vh;
    margin: 20px;
}


.tekst1 {
    grid-column: 1/2;
}

#bilde2{
    width: 100%;
    height: 450px;
    object-fit: contain;
}

.bilde1 {
    grid-column: 3/4;
    width: 100%;
}
    
.rad {
    display: flex;
    width: initial;
    height:30vh;
    margin-bottom: 20px;
    margin-top: 100px;
}

.rad>img {
    border: solid var(--glaucous)20px;
    padding: 0;
}

@media (max-width:1000px) {
    .nett{
        background-color: #a3b4a2ff;

    }
    .rad{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




.url {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90vh 90vh 90vh;
}

.url img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.url p {
    line-height: 150%;
    font-size: 110%;
}

#slide1 {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#slide2 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 6%;
}

#slide2 div {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid var(--cerulean);
    border-radius: 15px;
    box-shadow: 7px 5px 7px var(--marian-blue);
    padding: 12%;
}

#slide3 {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    padding: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#slide3 div {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-right: 0;
    width: 100%;
    height: auto;
    padding: 2%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: linear-gradient(to right, var(--cerulean), rgba(0, 0, 0, 0))
}

#slide3 p {
    color: black;
}

#slide4 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #18779580;
}

#slide4 div {
    border: 5px solid black;
    background-color: var(--cerulean);
    height: 73%;
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    padding: 3%;
}

#slide4 p {
    color: white;
}

#slide4 h2 {
    color: white;
    font-size: 250%;
}

#slide5 {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: var(--ash-gray);
}

@media(max-width: 1250px) {
    .url {
        grid-template-columns: 100%;
        grid-template-rows: 80vh 80vh 80vh 80vh 80vh;
    }
    #slide2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #slide3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #slide4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #slide5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}